<% title current_employee == @employee ? t('.my_page_title') : t('.page_title') %>
<h1 class="govuk-heading-l"><%= current_employee == @employee ? t('.my_page_title') : t('.page_title') %></h1>

<%= form_with model: @employee, url: employees_account_path(@employee), method: :patch, class: "govuk-form-group" do |f| %>

  <div class="govuk-form-group <%= @employee.errors[:full_name].any? ? 'govuk-form-group--error' : '' %>">
    <%= f.label :full_name, "Full Name", class: "govuk-label" %>
    <% if @employee.errors[:full_name].any? %>
      <p id="full-name-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= @employee.errors[:full_name].first %>
      </p>
    <% end %>
    <%= f.text_field :full_name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= @employee.errors[:email].any? ? 'govuk-form-group--error' : '' %>">
    <%= f.label :email, "Email", class: "govuk-label" %>
    <% if @employee.errors[:email].any? %>
      <p id="email-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= @employee.errors[:email].first %>
      </p>
    <% end %>
    <%= f.email_field :email, class: "govuk-input", disabled: true %>
  </div>

  <% if current_employee.admin? %>
    <div class="govuk-form-group">
      <%= f.label :role, "Role", class: "govuk-label" %>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <%= f.radio_button :role, "user", id: "role_user", class: "govuk-radios__input" %>
          <%= f.label :role_user, "User", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :role, "admin", id: "role_admin", class: "govuk-radios__input" %>
          <%= f.label :role_admin, "Admin", class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <%= f.submit "Save Changes", class: "govuk-button" %>

    <%= link_to 'Cancel', request.referer || employees_account_path(@employee), class: 'govuk-button govuk-!-margin-left-5' %>
  </div>
<% end %>