<% title t('.page_title') %>
<h1 class="govuk-heading-l">Manage staff accounts</h1>

<p class="govuk-body">
  You can use the filter below to see whether a user is active (has logged on in the last 90 days) or inactive (has not logged on in the last 90 days).
  To use the filter, select 'Active' or 'Inactive' from the drop-down list and then click the List staff button.
</p>
<%= form_for :employee, url: employees_accounts_filtered_path, method: :post, local: true do |form| %>
  <div class="govuk-form-group">
    <%= form.label :status, t('.status_label'), class: 'govuk-label' %>
    <%= form.select :status, options_for_select([['Active', 'active'], ['Inactive', 'inactive']], @status), { prompt: 'Please select' }, class: 'govuk-select' %>
  </div>
  <div class="govuk-form-group">
    <%= form.submit t('.filter'), class: 'govuk-button' %>

    <%= link_to t('.clear'), employees_accounts_path, class: 'govuk-button govuk-!-margin-left-5' %>
  </div>
<% end %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Full name</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Role</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Update</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @employees.each do |employee| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= link_to employee.full_name, employees_account_path(employee), class: "govuk-link" %></td>
        <td class="govuk-table__cell"><%= employee.email %></td>
        <td class="govuk-table__cell"><%= employee.role.capitalize %></td>
        <td class="govuk-table__cell"><%= t('.active.' + employee.active?.to_s) %></td>
        <td class="govuk-table__cell"><%= link_to t('.manage_account'), edit_employees_account_path(employee) %></td>
      </tr>
    <% end %>
  </tbody>
</table>